body{
    background-color: antiquewhite;
}
h1{
    text-align: center;
}
#mainbuttons{
    text-align: left;
    display: flex;
}
button{
    height: 80px;
    width: 200px;
}
.moJobsDiv{
    background-color: rgb(142, 216, 245);
    border: 1px solid black;
    border-radius: 10px;
    height: 170px;
    text-align: center;
}
p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}